* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100vh;
}

body a {
    text-decoration: none;
}

.little {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;height: 10%;
    background-color: rgba(60, 136, 113, 0.7);
    padding: 1% 4% 1% 4%;
}

.little .div {display: flex;flex-wrap: wrap;align-items:center;justify-content: center;width: 20%;height: max-content;background-color: rgb(115, 255, 0);}




/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: rgb(11, 88, 41);
    font-size: larger;
    border: none;
     
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: flex;
    align-items:flex-start;
    justify-content: center;
     
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    visibility: hidden;
    position: absolute;
    background-color: #f1f1f1;
    padding: 10%;
    transition: visibility 1s;
  }
    /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    visibility: visible;
}

  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(90, 82, 82);
    font-size: larger;
    padding: 10%;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    color:rgb(155,192,59);
}
/* Dropdown Button2 */
.dropbtn2 {
    background-color: transparent;
    color: rgb(11, 88, 41);
    font-size: larger;
    border: none;
     
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown2 {
    position: relative;
    display: flex;
    align-items:flex-start;
    justify-content: center;
     
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content2 {
    visibility: hidden;
    position: absolute;
    background-color: #f1f1f1;
    padding: 20%;
  }
  
  /* Links inside the dropdown */
  .dropdown-content2 a {
    color: rgb(90, 82, 82);
    font-size: larger;
    margin: 5%;
    padding: 20%;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content2 a:hover {
    color: rgb(155,192,59);
}
  /* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
    visibility: visible;
}
/* Dropdown Button3 */
.dropbtn3 {
    background-color: transparent;
    color: rgb(11, 88, 41);
    font-size: larger;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown3 {
    position: relative;
    display: flex;
    align-items:flex-start;
    justify-content: center;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content3 {
    visibility: hidden;
    position: absolute;
    background-color: #f1f1f1;
    padding: 10%;
  }
  
  /* Links inside the dropdown */
  .dropdown-content3 a {
    color: rgb(90, 82, 82);
    font-size: larger;
    padding: 10%;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content3 a:hover {
    color: rgb(155,192,59);
}
  /* Show the dropdown menu on hover */
.dropdown3:hover .dropdown-content3 {
    visibility: visible;
}
#wish {
    color: rgb(11, 88, 41);
    font-size: larger;
    min-width: 25%;
    text-decoration: none;

}

.head {
    width: 100%;
    height: 25%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-bottom: 1px solid gray;
}
.head input{
    height: 220%;
    border: 2px solid rgb(5, 109, 27);
    padding: 4px;
}
.head form>#bun{
    background-color: rgb(5, 109, 27);
    color: white;

}
.head embed {
    width: 16rem;
    height: 100px;
}

.navi {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
}
.navi .mid a{
    color: rgb(65, 61, 57);
}
.navi .mid a:hover {
    color: rgb(9, 87, 39);
    background-color: rgba(154, 192, 59, 0.534);
}

.dropdown-special {
    background-color: rgb(5, 109, 27);
}


#ban {
    height: 20vh;
    width: 100%;
    background-image: url('../assets/images/bg-breadcrumb.jpg');
    background-size: cover;
}

#late {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    margin-left: 1%;
    padding: 1.5%;
    font-size: xx-large;
}


#holder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: max-content;
    width: 100%;
    padding: 5%;
    background-color: transparent;
}
.rang input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 10%;
    height: 530vh;
    margin-left: 5%;
    color: rgb(5, 109, 27);
}

.blug {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.blug div {
    width: 100%;
    height: 10%;
    padding: 1% 5% 1% 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    line-height: 2.0;
    transition: box-shadow 0.5s;
    color: rgb(65, 61, 57);
}
.blug div small>button {
    border: none;
    padding: 10px;
    box-shadow: 1px 1px 5px rgb(73, 71, 71);
    background-color: transparent;
    color: rgb(65, 61, 57);
}
.blug div:hover img{
    transform: scale(1.2);
}
.blug div:hover{
    box-shadow: 5px 5px 20px black;
}

.blug div>img {
    width: 100%;
    height: 20rem;
    transition: transform 0.8s;
    overflow: hidden;
}
.blug div .green {
    border: none;
    width: 15%;
    padding: 2%;
    background-color: rgb(5, 109, 27);
    color: white;
    font-weight: 700;
}
@media screen and (max-width: 510px) {
    .blug div .green { font-size: medium;font-weight: normal;color: rgb(180, 178, 178);width: max-content;padding: auto;height: auto;}
}

.logos {
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 90%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    width: 100%;
    height: 20vh;
    background-color: #555;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5%;

}
.footer p>a {
    font-size: medium;
    color: rgb(255, 255, 255);
    transition: color 1s;
}
.footer p>a:hover {
    color: rgb(69, 214, 25);
}



@media screen and (max-width:1012px) {
    .logos {height: 65vh;width: 100%;justify-content: space-around;}
}
@media screen and (max-width:800px) {
    .head embed {width: 8rem;height: 60px;margin: auto;}
}

@media screen and (max-width:550px) {
    .head {flex-flow: column wrap;}
    .head input{height: 120%;}    
}

@media screen and (max-width:400px) {
    .logos {height: 125vh;width: 100%;justify-content: space-around;}
}


.icon {
    height: 19vh;
    width: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding: auto;
    position: fixed;
    top: 25%;
    right: 1%;
    color: antiquewhite;
}
.icon button {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(52, 161, 45);
    color: #f1f1f1;
    width: 100%;
    margin: auto;
}
.splitbtn {
    height: 7%;
    width: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    position: fixed;
    bottom: 2%;
    left: 3%;
    align-self: flex-end;
    justify-self: flex-start;
    color: antiquewhite;
    background-color: rgb(214, 111, 183);
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(155,192,59); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: rgb(11, 88, 41); /* Add a dark-grey background on hover */
  }