* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.OverallContainer {
    background-color: white;
}
.OverallContainer a {
    text-decoration: none;
    color: inherit;
}
.little {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;height: 5%;
    background-color: rgba(60, 136, 113, 0.7);
    padding: 1% 4% 1% 4%;
}

.little .div {display: flex;flex-wrap: wrap;align-items:center;justify-content: center;width: 20%;height: max-content;background-color: rgb(115, 255, 0);}




/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: rgb(11, 88, 41);
    font-size: larger;
    border: none;
     
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: flex;
    align-items:flex-start;
    justify-content: center;
     
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    visibility: hidden;
    position: absolute;
    background-color: #f1f1f1;
    padding: 10%;
    transition: visibility 1s;
  }
    /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    visibility: visible;
}

  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(90, 82, 82);
    font-size: larger;
    padding: 10%;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    color:rgb(155,192,59);
}
/* Dropdown Button2 */
.dropbtn2 {
    background-color: transparent;
    color: rgb(11, 88, 41);
    font-size: larger;
    border: none;
     
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown2 {
    position: relative;
    display: flex;
    align-items:flex-start;
    justify-content: center;
     
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content2 {
    visibility: hidden;
    position: absolute;
    background-color: #f1f1f1;
    padding: 20%;
  }
  
  /* Links inside the dropdown */
  .dropdown-content2 a {
    color: rgb(90, 82, 82);
    font-size: larger;
    margin: 5%;
    padding: 20%;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content2 a:hover {
    color: rgb(155,192,59);
}
  /* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
    visibility: visible;
}
/* Dropdown Button3 */
.dropbtn3 {
    background-color: transparent;
    color: rgb(11, 88, 41);
    font-size: larger;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown3 {
    position: relative;
    display: flex;
    align-items:flex-start;
    justify-content: center;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content3 {
    visibility: hidden;
    position: absolute;
    background-color: #f1f1f1;
    padding: 10%;
  }
  
  /* Links inside the dropdown */
  .dropdown-content3 a {
    color: rgb(90, 82, 82);
    font-size: larger;
    padding: 10%;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content3 a:hover {
    color: rgb(155,192,59);
}
  /* Show the dropdown menu on hover */
.dropdown3:hover .dropdown-content3 {
    visibility: visible;
}
#wish {
    color: rgb(11, 88, 41);
    font-size: larger;
    min-width: 25%;
    text-decoration: none;

}

.navi {
    display: flex;
    flex-wrap: nowrap;
    background-color:transparent;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6% 2.3% 6% ;
}
.navi .mid a:hover {
    color: rgb(9, 87, 39);
    background-color: rgba(154, 192, 59, 0.534);
}
.navi a:visited {
    text-decoration: none;
    color: inherit;
}
.d-flex {
    width: auto;
}
@media screen and (max-width:440px) {
    .hide {visibility: collapse;}
    .cardy {height: auto;}
}

.face1 {
    background-image: url('../assets/images/myriam-zilles-KltoLK6Mk-g-unsplash\ \(1\).jpg');
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    padding: 10% 5% 19% 5%;
}
#words {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    width: 40%;
    height: 80%;
    color: #f1f1f1;
    animation: words 3s ease-in-out -2s infinite normal;
}
@keyframes words {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
  }

#words p {
    font-size: 45px;
}
#words h2 {
    font-size: 45px;
}
#words a {
    background-color: rgb(155,192,59);
    height: min-content;
    width: max-content;
    padding: 2% 3%;
    transition: color 0.9s, background-color 0.7s;
}
#words a:hover {
    background-color: white;
    color: rgb(155,192,59);
}
#words h1 {
    font-size: 100px;
    color: rgb(69, 214, 25);
    border: black;
}
#words span {
    font-size: 50px;
}

.face2 {
    background-color: white;
    width: 100%;
    height: 165vh;
    display: flex;
    flex-wrap: wrap;
}
.face2 img {
    width: 25%;
    height: 25%;
    margin-top: 4%;
    margin-left: 2%;
}
#latestprods {
    width: 80%;
    height: 50%;
    background-image: url('../assets/images/usman-yousaf-SakqLf78KVo-unsplash.jpg');
    background-size: cover;
    background-position: right;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-self: flex-end;
    justify-self: center;
    margin: auto;
    margin-bottom: 3%;
    padding-left: 2%;
    padding-top: 1%;
    overflow-y: scroll;
}

.cardy {
    margin-top: 4%;
    margin-left: 3%;
    background-color: transparent;
    border: 3px solid rgba(170, 162, 162, 0.678);
    width: 20%;
    height: 450px;
    padding: 2% 1%;
    align-self: center;
    justify-self: center;
    transition: box-shadow 0.5s;
}
.cardy:hover {
    box-shadow: 1px 1px 5px gray;
}
.cardhead {
    height: 4%;
    font-size: medium;
    color: rgb(90, 82, 82);
}
.cardtitle {
    height: 6%;
    color: rgb(90, 82, 82);
    font-size: large;
}
.cardbody {
    height: 60%;
    color: rgb(90, 82, 82);
}
.cardbody p>img{
    width: 90%;
    height: 90%;
}
.cardbody a {
    padding-left: 2%;
    font-size: larger;
    font-weight: 500;
    color: rgb(92, 124, 11);
}
.cart {
    width: max-content;
    height: max-content;
    padding: 1%;
    background-color: rgb(255, 255, 255);
    color: rgb(71, 67, 67);
}
.cart:hover {
    background-color: rgb(183, 255, 0);
}
.fadein {
    position: relative;
    visibility: hidden;
    margin-top: 20%;
    width: 80%;
    height: 25%;
    background-color: rgba(56, 54, 54, 0.76);
    color: rgb(116, 111, 111);
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-self: flex-end;
    align-self: flex-end;
    
}
.cardy:hover .fadein {
    visibility: visible;
}
.fadein i:hover {
    color: #cfc7c7;
}
.face3 {
    width: 100%;
    height: 80vh;
    background-image: url('../assets/images/20.12.20-4-copy.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.words-2 {
    width: 32%;
    height: 80%;
    background-color: transparent;
    padding: 2%;
    padding-top: 3%;
    margin-left: 10%;
    line-height: 1.0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.words-2 h6 {
    color: rgb(255, 255, 255);

}
.words-2 #big{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  rgb(255, 255, 255);
}
.words-2 p {
    font-size: larger;
    color: rgb(48, 45, 45);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.words-2 a {
    padding: 4% 6.0% 4% 6.0%;
    border-radius: 10px;
    font-size: larger;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 124, 11);
}
.absol {
    position: absolute;
}
.face4 {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    height: 185vh;
    width: 100%;
    background-color: white;
    padding: 6% 10% 6% 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.fa-circle {
    width: 40px;
    height: 40px;
}
    
.face4 button{
    background-color: transparent;
    color: black;
    font-size: xx-large;
    cursor: pointer;
    border: none;
}
.face4 button:hover{
    color: rgb(92, 124, 11);
}
.face4 .active {
    color: rgb(92, 124, 11);
}
.face5 {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.face5 div {
    height: 100%;
    width: 47%;
}
.darkbg {
    background-image: url('../assets/images/national-cancer-institute-NNpo-liY5aU-unsplash.jpg');
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
    height: inherit;
    width: inherit;
}
.subscribe {
    background-image: url('../assets/images/b-7-blog.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: center;
    padding: 5% 3% 5% 1%;
    color: rgb(23, 73, 19);
}
.subscribe form>p input{
    padding: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: medium;
}
.subscribe #sub{
    background-color: rgb(61, 58, 58);
    color: rgb(255, 255, 255);
    border: none;
}
.subscribe #sub:hover{
    background-color: rgb(23, 73, 19);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.face6 {
    width: 90%;
    height: 85vh;
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 10px;
    border-bottom: 1px solid rgb(107, 105, 105);
}
.face6 h1 {
    font-family: 'Times New Roman', Times, serif;
}
.face6 div {
    padding-top: 10%;
    padding-left: 5px;
    padding-right: 5px;
    height: 80vh;
    width: 33%;
    margin: 0%;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column nowrap;
    line-height: 1.0;
    color: rgb(63, 63, 63);
    overflow: hidden;
}
.face6 div>div {
    width: 100%;
    height: 35%;
    margin: 0%;
}
.face6 #blog {
    padding-top: 5%;
}
.face6 div:hover img {
    transform: scale(1.2);
}
.face6 hr {
    width: 10%;
}
.face6 div>img {
    transition: transform 2s;
    width: 100%;
    height: 100%;
    
}

.logos {
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 90%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    width: 100%;
    height: 20vh;
    background-color: #555;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5%;

}
.footer p>a {
    font-size: medium;
    color: rgb(255, 255, 255);
    transition: color 1s;
}
.footer p>a:hover {
    color: rgb(69, 214, 25);
}
.icon {
    height: 19vh;
    width: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding: auto;
    position: fixed;
    top: 25%;
    right: 1%;
    color: antiquewhite;
}
.icon button {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(52, 161, 45);
    color: #f1f1f1;
    width: 100%;
    margin: auto;
}
.splitbtn {
    height: 7%;
    width: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    position: fixed;
    bottom: 2%;
    left: 3%;
    align-self: flex-end;
    justify-self: flex-start;
    color: antiquewhite;
    background-color: rgb(214, 111, 183);
}




@media screen and (max-width:1012px) {
    .logos {height: 75vh;width: 100%;justify-content: space-around;}
}
@media screen and (max-width: 900px) {
    .face4 {overflow: scroll;margin-bottom: 6%;margin-top: 4%;}
    #latestprods {overflow: scroll;}
    .cardy {height: min-content;width: max-content;}
}
@media screen and (max-width:660px) {
    #words { display: flex;flex-wrap: wrap;flex-flow: column nowrap;width: 30%;height: 50%;overflow: scroll;}
    #words h1{font-size: large;}
    #words h2 {font-size: large;color: #555;}
    #words p {font-size: large;}
    #words span{font-size: medium;}
    .words-2 {line-height: normal;}
    .words-2 #big {font-size: larger;}
    .words-2 a {font-size: medium;padding: auto;}
    .face2 img{width: 50%;height: 30%;}
    .darkbg #comment {font-size: large;}
    .darkbg p {font-size: small;}
    .subscribe {padding: 5%;overflow: scroll;}
    .face5 {height: max-content;}
    .face5 div {width: 90%;height: max-content;}
    .face6 {height: max-content;}
    .face6 div {width: 100%;height: 70vh;padding-top: 4%;}
    .footer {height: 30vh;padding: auto;justify-content: flex-start;}
}
@media screen and (max-width:400px) {
    .words-2 {width: 60%;}
    .face2 img{width: 70%;height: 30%;}
    .subscribe {overflow: hidden;}

}





#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(155,192,59); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: rgb(11, 88, 41); /* Add a dark-grey background on hover */
  }